#cards-area{
  .row{
    .card{
      //So that card's img have the same size
      .card-img-container{
        img{
          &.card-img-top{
            max-height: 100%;
          }
        }
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
